# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/

# 运行时数据
split-tool/data/uploads/
split-tool/data/output/
split-tool/data/bureau_mapping.json
email-tool/data/uploads/
email-tool/data/contacts.json
email-tool/data/cookies.json
email-tool/data/csrftoken.txt
email-tool/data/login_creds.json
email-tool/data/login_debug.png
email-tool/data/templates.json
email-tool/data/txt_vars/
online-excel-tool/data/sheets.json
online-excel-tool/data/categories.json

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Temp
.temp/
temp/
airscript_code.js
push_to_kdocs.py

# Config data
unified-tool/data/configs/
unified-tool/data/kdocs_sheets.json
unified-tool/data/kdocs_categories.json
unified-tool/data/bureau_mapping.json
